In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sh2\anaconda3\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
import os 
os.chdir(r"D:\downloads\workshop\archive")

In [50]:
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bikestore_howyda"
)

cursor = connection.cursor()

def import_csv_to_table(file_path, table_name):
    try:
        df = pd.read_csv(file_path)
        df = df.where(pd.notnull(df), None)  # Replace NaN values with None

        placeholders = ', '.join(['%s'] * len(df.columns))
        columns = ', '.join([f"`{col}`" for col in df.columns])
        sql = f"INSERT INTO `{table_name}` ({columns}) VALUES ({placeholders})"

        inserted_rows = 0
        for row in df.itertuples(index=False):
            clean_row = tuple(None if pd.isna(value) else value for value in row)
            try:
                cursor.execute(sql, clean_row)
                inserted_rows += 1
            except Exception as e:
                print(f"Error inserting into {table_name}: {e}")

        connection.commit()
        print(f"Inserted {inserted_rows} rows into {table_name}")

    except Exception as e:
        print(f"Error importing {file_path}: {e}")

# Import data files dynamically
try:
    csv_files = [
        "brands.csv",
        "categories.csv",
        "products.csv",
        "stores.csv",
        "customers.csv",
        "staffs.csv",
        "orders.csv",
        "stocks.csv",
        "order_items.csv"
    ]
    
    for file in csv_files:
        table_name = file.split(".")[0]
        print(f"Importing {file} into {table_name} ...")
        import_csv_to_table(file, table_name)
finally:
    cursor.close()
    connection.close()
    print("Database connection closed.")

Importing brands.csv into brands ...
Inserted 9 rows into brands
Importing categories.csv into categories ...
Inserted 7 rows into categories
Importing products.csv into products ...
Inserted 321 rows into products
Importing stores.csv into stores ...
Inserted 3 rows into stores
Importing customers.csv into customers ...
Inserted 1445 rows into customers
Importing staffs.csv into staffs ...
Inserted 10 rows into staffs
Importing orders.csv into orders ...
Inserted 1615 rows into orders
Importing stocks.csv into stocks ...
Inserted 939 rows into stocks
Importing order_items.csv into order_items ...
Inserted 4722 rows into order_items
Database connection closed.

In [20]:
pip install ipython-sql pymysql

Requirement already satisfied: ipython-sql in c:\users\sh2\anaconda3\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymysql in c:\users\sh2\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (3.13.0)
Requirement already satisfied: ipython in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sh2\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [22]:
pip install jupysql

Requirement already satisfied: jupysql in c:\users\sh2\anaconda3\lib\site-packages (0.10.17)
Requirement already satisfied: prettytable>=3.12.0 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (3.13.0)
Requirement already satisfied: sqlalchemy in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (26.3.6)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\sh2\anaconda3\lib\site-packages (from jupysql) (0.2.26)
Requirement already satisfied: pyyaml in c:\users\sh2\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\users\sh2\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.9.3)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable>=3.12.0->jupysql) (0.2.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (3.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\sh2\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [24]:
pip install --upgrade ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\sh2\anaconda3\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: prettytable in c:\users\sh2\anaconda3\lib\site-packages (3.13.0)
Requirement already satisfied: ipython in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sh2\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [100]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\sh2\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (3.13.0)
Requirement already satisfied: ipython in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sh2\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sh2\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sh2\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\sh2\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\sh2\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sh2\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [96]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [110]:
%sql mysql+pymysql://root:@localhost/bikestore_howyda

In [112]:
# level 1 q 1
%sql SELECT * FROM customers;

Running query in 'mysql+pymysql://root:***@localhost/bikestore_howyda'

1445 rows affected.

+-------------+------------+-----------+----------------+----------------------------+-------------------------+-----------------+-------+----------+
| customer_id | first_name | last_name |     phone      |           email            |          street         |       city      | state | zip_code |
+-------------+------------+-----------+----------------+----------------------------+-------------------------+-----------------+-------+----------+
|      1      |   Debra    |   Burks   |      None      |   debra.burks@yahoo.com    |    9273 Thorne Ave.     |   Orchard Park  |   NY  |  14127   |
|      2      |   Kasha    |    Todd   |      None      |    kasha.todd@yahoo.com    |     910 Vine Street     |     Campbell    |   CA  |  95008   |
|      3      |   Tameka   |   Fisher  |      None      |   tameka.fisher@aol.com    |  769C Honey Creek St.   |  Redondo Beach  |   CA  |  90278   |
|      4      |   Daryl    |   Spence  |      None      |    daryl.spence@aol.com    |     988 Pearl Lane      |    Uniondale    |   NY  |  11553   |
|      5      | Charolette |    Rice   | (916) 381-6003 |  charolette.rice@msn.com   |      107 River Dr.      |    Sacramento   |   CA  |  95820   |
|      6      |  Lyndsey   |    Bean   |      None      |  lyndsey.bean@hotmail.com  |      769 West Road      |     Fairport    |   NY  |  14450   |
|      7      |  Latasha   |    Hays   | (716) 986-3359 |  latasha.hays@hotmail.com  | 7014 Manor Station Rd.  |     Buffalo     |   NY  |  14215   |
|      8      | Jacquline  |   Duncan  |      None      | jacquline.duncan@yahoo.com |      15 Brown St.       | Jackson Heights |   NY  |  11372   |
|      9      |  Genoveva  |  Baldwin  |      None      |  genoveva.baldwin@msn.com  |    8550 Spruce Drive    | Port Washington |   NY  |  11050   |
|      10     |  Pamelia   |   Newman  |      None      |  pamelia.newman@gmail.com  |    476 Chestnut Ave.    |      Monroe     |   NY  |  10950   |
+-------------+------------+-----------+----------------+----------------------------+-------------------------+-----------------+-------+----------+
Truncated to displaylimit of 10.

In [118]:
#level 1 q 2
%sql SELECT * FROM customers where city ="New York"

Running query in 'mysql+pymysql://root:***@localhost/bikestore_howyda'

7 rows affected.

+-------------+------------+-----------+----------------+----------------------------+---------------------------+----------+-------+----------+
| customer_id | first_name | last_name |     phone      |           email            |           street          |   city   | state | zip_code |
+-------------+------------+-----------+----------------+----------------------------+---------------------------+----------+-------+----------+
|      16     |   Emmitt   |  Sanchez  | (212) 945-8823 | emmitt.sanchez@hotmail.com |   461 Squaw Creek Road    | New York |   NY  |  10002   |
|     178     |  Genoveva  |   Tyler   | (212) 152-6381 |  genoveva.tyler@gmail.com  |    8121 Windfall Ave.     | New York |   NY  |  10002   |
|     327     |   Sharie   |  Alvarez  | (212) 211-7621 |   sharie.alvarez@msn.com   | 987 West Leatherwood Dr.  | New York |   NY  |  10002   |
|     411     |  Octavia   |    Case   | (212) 171-1335 |    octavia.case@aol.com    |      40 Charles Road      | New York |   NY  |  10002   |
|     854     |   Phylis   |   Adkins  | (212) 325-9145 |   phylis.adkins@msn.com    |      7781 James Ave.      | New York |   NY  |  10002   |
|     927     | Guillermo  |    Hart   | (212) 652-7198 | guillermo.hart@hotmail.com |  81 Indian Summer Drive   | New York |   NY  |  10002   |
|     1016    |   Shenna   |   Benton  | (212) 578-2912 |   shenna.benton@msn.com    |   57 Shadow Brook Road    | New York |   NY  |  10002   |
+-------------+------------+-----------+----------------+----------------------------+---------------------------+----------+-------+----------+

In [122]:
#level 1 q 3 
%sql SELECT * FROM products ORDER BY products.list_price DESC;

Running query in 'mysql+pymysql://root:***@localhost/bikestore_howyda'

321 rows affected.

+------------+----------------------------------------+----------+-------------+------------+------------+
| product_id |              product_name              | brand_id | category_id | model_year | list_price |
+------------+----------------------------------------+----------+-------------+------------+------------+
|    155     |     Trek Domane SLR 9 Disc - 2018      |    9     |      7      |    2018    |  11999.99  |
|    149     |     Trek Domane SLR 8 Disc - 2018      |    9     |      7      |    2018    |  7499.99   |
|     51     |    Trek Silque SLR 8 Women's - 2017    |    9     |      7      |    2017    |  6499.99   |
|    169     |        Trek Emonda SLR 8 - 2018        |    9     |      7      |    2018    |  6499.99   |
|    157     | Trek Domane SL Frameset Women's - 2018 |    9     |      7      |    2018    |  6499.99   |
|    156     |     Trek Domane SL Frameset - 2018     |    9     |      7      |    2018    |  6499.99   |
|     50     |    Trek Silque SLR 7 Women's - 2017    |    9     |      7      |    2017    |  5999.99   |
|    177     |     Trek Domane SLR 6 Disc - 2018      |    9     |      7      |    2018    |  5499.99   |
|    154     | Trek Domane SLR 6 Disc Women's - 2018  |    9     |      7      |    2018    |  5499.99   |
|    148     |      Trek Domane SL 8 Disc - 2018      |    9     |      7      |    2018    |  5499.99   |
+------------+----------------------------------------+----------+-------------+------------+------------+
Truncated to displaylimit of 10.

In [124]:
#level 1 q 4.1
%sql SELECT * FROM `orders` ,order_statuses o WHERE o.status_description = "Completed";

Running query in 'mysql+pymysql://root:***@localhost/bikestore_howyda'

1615 rows affected.

+----------+-------------+--------------+------------+---------------+--------------+----------+----------+-----------+--------------------+
| order_id | customer_id | order_status | order_date | required_date | shipped_date | store_id | staff_id | status_id | status_description |
+----------+-------------+--------------+------------+---------------+--------------+----------+----------+-----------+--------------------+
|    1     |     259     |      4       | 2016-01-01 |   2016-01-03  |  2016-01-03  |    1     |    2     |     4     |     Completed      |
|    2     |     1212    |      4       | 2016-01-01 |   2016-01-04  |  2016-01-03  |    2     |    6     |     4     |     Completed      |
|    3     |     523     |      4       | 2016-01-02 |   2016-01-05  |  2016-01-03  |    2     |    7     |     4     |     Completed      |
|    4     |     175     |      4       | 2016-01-03 |   2016-01-04  |  2016-01-05  |    1     |    3     |     4     |     Completed      |
|    5     |     1324    |      4       | 2016-01-03 |   2016-01-06  |  2016-01-06  |    2     |    6     |     4     |     Completed      |
|    6     |      94     |      4       | 2016-01-04 |   2016-01-07  |  2016-01-05  |    2     |    6     |     4     |     Completed      |
|    7     |     324     |      4       | 2016-01-04 |   2016-01-07  |  2016-01-05  |    2     |    6     |     4     |     Completed      |
|    8     |     1204    |      4       | 2016-01-04 |   2016-01-05  |  2016-01-05  |    2     |    7     |     4     |     Completed      |
|    9     |      60     |      4       | 2016-01-05 |   2016-01-08  |  2016-01-08  |    1     |    2     |     4     |     Completed      |
|    10    |     442     |      4       | 2016-01-05 |   2016-01-06  |  2016-01-06  |    2     |    6     |     4     |     Completed      |
+----------+-------------+--------------+------------+---------------+--------------+----------+----------+-----------+--------------------+
Truncated to displaylimit of 10.

In [126]:
#level 1 q 4.1
%sql SELECT * FROM `orders` ,order_statuses o WHERE o.status_description = "Rejected";

Running query in 'mysql+pymysql://root:***@localhost/bikestore_howyda'

1615 rows affected.

+----------+-------------+--------------+------------+---------------+--------------+----------+----------+-----------+--------------------+
| order_id | customer_id | order_status | order_date | required_date | shipped_date | store_id | staff_id | status_id | status_description |
+----------+-------------+--------------+------------+---------------+--------------+----------+----------+-----------+--------------------+
|    1     |     259     |      4       | 2016-01-01 |   2016-01-03  |  2016-01-03  |    1     |    2     |     3     |      Rejected      |
|    2     |     1212    |      4       | 2016-01-01 |   2016-01-04  |  2016-01-03  |    2     |    6     |     3     |      Rejected      |
|    3     |     523     |      4       | 2016-01-02 |   2016-01-05  |  2016-01-03  |    2     |    7     |     3     |      Rejected      |
|    4     |     175     |      4       | 2016-01-03 |   2016-01-04  |  2016-01-05  |    1     |    3     |     3     |      Rejected      |
|    5     |     1324    |      4       | 2016-01-03 |   2016-01-06  |  2016-01-06  |    2     |    6     |     3     |      Rejected      |
|    6     |      94     |      4       | 2016-01-04 |   2016-01-07  |  2016-01-05  |    2     |    6     |     3     |      Rejected      |
|    7     |     324     |      4       | 2016-01-04 |   2016-01-07  |  2016-01-05  |    2     |    6     |     3     |      Rejected      |
|    8     |     1204    |      4       | 2016-01-04 |   2016-01-05  |  2016-01-05  |    2     |    7     |     3     |      Rejected      |
|    9     |      60     |      4       | 2016-01-05 |   2016-01-08  |  2016-01-08  |    1     |    2     |     3     |      Rejected      |
|    10    |     442     |      4       | 2016-01-05 |   2016-01-06  |  2016-01-06  |    2     |    6     |     3     |      Rejected      |
+----------+-------------+--------------+------------+---------------+--------------+----------+----------+-----------+--------------------+
Truncated to displaylimit of 10.